syntax: glob
*.class
*.apk
*.dex
*.ap_
*.suo
*.orig
*.log
bin/
gen/
build/
lint.xml
.classpath
*.metadata
*.iml
*.iws
*.ipr
.idea/
.gradle
.gradle/
local.properties
app/build/
~*
*Thumbs.db
*.DS_Store
/build
/captures
